@page "/"
@using BlazorCms.ViewModels
@inject IPostViewModel _postViewModel

<div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">

                @if(_postViewModel.Posts != null && _postViewModel.Posts.Count() > 0)
                {
                    foreach (var post in _postViewModel.Posts)
                    {
                            <div class="col-sm-6" style="margin-bottom: 5px;">
                                <a href="/blog/@post.PostPermalink" title="Read More">
                                    <SfCard Orientation="CardOrientation.Vertical" ID="Trimmer">
                                        <img class="card-thambnail" src="/uploads/images/@post.PostThumbnail">
                                        <CardHeader Title="@post.PostTitle" />
                                    </SfCard>
                                </a>
                            </div>
                        
                    }
                }
                else
                {
                    <h3>There are not posts at the moment!</h3>
                }
                </div>

            </div>
            <div class="col-sm-3">
                <SfTextBox Placeholder="Search" @onkeypress="_postViewModel.Search" Type="InputType.Search"></SfTextBox>
                <hr>
                <SfCalendar TValue="DateTime"></SfCalendar>
            </div>
        </div>
</div>
@code{
    protected override async Task OnInitializedAsync() => await _postViewModel.GetAll();
}