@page "/blog/{postPermalink}"

@if(postPermalink != null)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <img class="card-thambnail" src="@_postViewModel.ThePost.PostThumbnail" alt="@_postViewModel.ThePost.PostTitle">
                <h1>@_postViewModel.PostTitle</h1>
                <div>@((MarkupString)@_postViewModel.ThePost.PostContent)</div>
            </div>
            <div class="col-sm-3">
                <SfTextBox Placeholder="Search" Type="InputType.Search"></SfTextBox>
                <hr>
                <SfCalendar TValue="DateTime"></SfCalendar>
            </div>
        </div>
    </div>
}