@page "/blog/{postPermalink}"
@using BlazorCms.ViewModels
@inject IJSRuntime jsRuntime
@inject IPostViewModel _postViewModel

@if(postPermalink != null)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <img class="card-thambnail" src="@_postViewModel.PostThumbnail" alt="@_postViewModel.PostTitle">
                <h1>@_postViewModel.PostTitle</h1>
                <div>@((MarkupString)@_postViewModel.PostContent)</div>
            </div>
            <div class="col-sm-3">
                <SfTextBox Placeholder="Search" Type="InputType.Search"></SfTextBox>
                <hr>
                <SfCalendar TValue="DateTime"></SfCalendar>
            </div>
        </div>
    </div>
}

@code{

    [Parameter]
    public string postPermalink { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _postViewModel.GetOne(this.postPermalink);
    }
}

<style>
    .card-thambnail{width:100%}
</style>